@{
    ViewData["Title"] = "MyBlindTouch_Home";
}

<div class="banner">
    <h1 class="display-4">My Blind Touch</h1>
         <a asp-controller="Game" asp-action="Index"class="btn btn-defaultLayout">ゲーム</a>
         <a asp-controller="Settings" asp-action="Index"class="btn btn-defaultLayout">設定</a>
</div>
