@model MyBlindTouch.Models.QuizModel

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="banner">
    <h2>問題の追加</h2>
    <div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Level" class="control-label">難易度</label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuizStr" class="control-label">問題</label>
                <input asp-for="QuizStr" class="form-control" />
                <span asp-validation-for="QuizStr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="追加" class="btn btn-defaultLayout" />
                <a class="btn btn-defaultLayout"asp-action="Index">戻る</a>
            </div>
        </form>
    </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
