@model MyBlindTouch.Models.QuizModel

@{
    ViewData["Title"] = "Details";
}
<div class="banner">
    <h1>詳細</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Level)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.QuizStr)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.QuizStr)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-defaultLayout"asp-action="Edit" asp-route-id="@Model?.Id">編集</a> 
        <a class="btn btn-defaultLayout" asp-action="Index">戻る</a>
    </div>
</div>
