@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyBlindTouch.Models.GameModel
@using Newtonsoft.Json;
@using System.IO;  

@{
    for (int i=0;i<Model.QuizStrCopy.Count;i++)//全問題でfor文を回す
    {
        //LevelList[0]==true:初級が選択されている
        if(Model.LevelCopy[i]=="初級" && Model.LevelList[0]==true)
        {
            Model.QuizStrOutputList.Add(Model.QuizStrCopy[i]);
        }
        //LevelList[1]==true:中級が選択されている
        else if(Model.LevelCopy[i]=="中級" && Model.LevelList[1]==true)
        {
            Model.QuizStrOutputList.Add(Model.QuizStrCopy[i]);
        }
        //LevelList[2]==true:上級が選択されている
        else if(Model.LevelCopy[i]=="上級" && Model.LevelList[2]==true)
        {
            Model.QuizStrOutputList.Add(Model.QuizStrCopy[i]);
        }
    }
    
    Model.GameTime = ViewBag.gametime;
    Model.QuestionTime = ViewBag.questiontime;
    Model.GameSound = ViewBag.soundonoff;
    Model.SoundVolume = ViewBag.gamesound;
    
    //GameModelをjsonにシリアライズしてjsに渡す
    var JsonData = JsonConvert.SerializeObject(Model);  

     // シリアライズ済みデータをファイルに書き込み
    File.WriteAllText(@"SettingsData.json",JsonData );
}

<div class="StartCountArea banner open-modal">
    <div id="sec">sec</div>
    <button class="btn btn-defaultLayout"onclick="time()">click</button>
</div>
<div class="GameTimeArea modal-overlay">
    残り時間：<div id="gametime"></div>
</div>
<div class="banner modal-overlay">
</div>
<script src="~/js/game.js" asp-append-version="true"></script>    
