@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model MyBlindTouch.Models.GameModel
<div class="GameTimeArea">
    残り時間：<div id="gametime">@ViewBag.gametime</div>
</div>
<div class="banner">
    
    <table class="table">
    <thead>
        <tr>
                <th>
                    @{
                        /*
                        <h2 id="gametimeid">gametime=@ViewBag.gametime</h2>
                        <h2>questiontime=@ViewBag.questiontime</h2>
                        <h2>onoff=@ViewBag.soundonoff</h2>
                        <h2>gamesound=@ViewBag.gamesound</h2>
                        */
                        for (int i=0;i<Model.QuizStrCopy.Count;i++)//全問題でfor文を回す
                        {
                            //LevelList[0]==true:初級が選択されている
                            if(Model.LevelCopy[i]=="初級" && Model.LevelList[0]==true)
                            {
                                Model.QuizStrOutputList.Add(Model.QuizStrCopy[i]);
                            }
                            //LevelList[1]==true:中級が選択されている
                            else if(Model.LevelCopy[i]=="中級" && Model.LevelList[1]==true)
                            {
                                Model.QuizStrOutputList.Add(Model.QuizStrCopy[i]);
                            }
                            //LevelList[2]==true:上級が選択されている
                            else if(Model.LevelCopy[i]=="上級" && Model.LevelList[2]==true)
                            {
                                Model.QuizStrOutputList.Add(Model.QuizStrCopy[i]);
                            }
                        }
                    }
            </th>
            <th></th>
        </tr>
    </thead>
    </table>
  <input type="button"value="一時停止"class="btn btn-defaultLayout">
  <a asp-controller="Home" asp-action="Index"class="btn btn-defaultLayout">戻る</a>
</div>