@{
        ViewData["Title"] = "MyBlindTouch-game_index2";
}
@model MyBlindTouch.Models.SettingsModel

<div class="banner">
    <h2>gametime=@ViewBag.gametime</h2>
    <h2>questiontime=@ViewBag.questiontime</h2>
    <h2>onoff=@ViewBag.soundonoff</h2>
    <h2>gamesound=@ViewBag.gamesound</h2>
    
</div>