/*エリアはclass 要素はid*/

.GameTimeArea {
    border-radius: var(--radius);
    box-shadow: var(--light-shadow);
    text-align: center;
    padding: 1rem 0; /*top&bottom  right&left*/
    max-width: var(--fixed-width);
    visibility: hidden;
    background: var(--clr-white);
    top:10px;
    width: 20vw;
    height: 10vh;
    display: grid;
    position: absolute;
    z-index: 3; /*startcount-modalがz-index=2*/
}

.GamePlayArea {
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    background: var(--clr-white);
    width: 90vw;
    height: 60vh;
    position: absolute;
    display: grid;
    z-index: 3; /*startcount-modalがz-index=2*/
}

#sec{
    color:white;
    font-size:10rem;
}