/*
=============== 
Modal
===============
*/
.content {
    min-height: 100vh;
    display: grid;
    /*
    padding:0 0 0 4rem;/*top right bottom left*/
    place-items: center;
}

.banner {
    background: var(--clr-white);
    padding: 4rem 0; /*top&bottom  right&left*/
    border-radius: var(--radius);
    /*box-shadow: var(--light-shadow);*/
    text-align: center;
    width: 90vw;
    max-width: var(--fixed-width);
}

.btn-defaultLayout {
    margin-top: 2rem;
    background: var(--clr-primary-5);
    border-color: var(--clr-primary-5);
    color: var(--clr-white);
}

    .btn-defaultLayout:hover {
        background: transparent;
        color: var(--clr-primary-5);
    }

.modal-overlay {
    /*position:fixed*/
    width: 90vw;
    max-width: var(--fixed-width);
    background: rgba(73, 166, 233, 0.5);
    /*display: grid;*/
    text-align: center;
    place-items: center;
    transition: var(--transition);
    visibility: hidden;
    z-index: 1;
}
/* OPEN/CLOSE MODAL */
.open-modal {
    visibility: visible;
    z-index: 10;
}

.modal-container {
    background: var(--clr-white);
    border-radius: var(--radius);
    width: 90vw;
    height: 30vh;
    max-width: var(--fixed-width);
    text-align: center;
    display: grid;
    place-items: center;
    position: relative;
}

.startcount-modal {
    width: 60vw;
    height: 60vh;
    max-width: var(--fixed-width);
    background-color: transparent;
    text-align: center;
    place-items: center;
    transition: var(--transition);
    display: grid;
    position: absolute;
    z-index:2;
}

ksofGIJs3458ehg
.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-red-dark);
    cursor: pointer;
    transition: var(--transition);
}

.close-btn:hover {
    color: var(--clr-red-light);
    transform: scale(1.3);
}

