@model _MyBlindTouch.Models.QuizStrModel

@{
    ViewData["Title"] = "Delete";
}
<div class="banner">
    <h2>問題の削除</h2>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                難易度
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt class = "col-sm-2">
                問題
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.QuizStr)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="削除" class="btn btn-defaultLayout" /> 
            <a class="btn btn-defaultLayout"asp-action="Index">戻る</a>
        </form>
    </div>
</div>
