@model _MyBlindTouch.Models.QuizStrModel

@{
    ViewData["Title"] = "Edit";
}
<div class="banner">
    <h2>問題の編集</h2>
    <hr />
    <div class="row">
      <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Level" class="control-label">難易度</label>
                     <select id="DropDownLevelList" asp-for="Level"class="form-control">
                         <option>初級</option>
                         <option>中級</option>
                         <option>上級</option>
                     </select>
                    <span asp-validation-for="Level" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="QuizStr" class="control-label">問題</label>
                    <input asp-for="QuizStr" class="form-control" id="edit-question"/>
                    <span asp-validation-for="QuizStr" class="text-danger"></span>
                </div>
                <div class="button-area">
                    <input type="submit" value="保存" class="btn btn-defaultLayout" />
                    <a class="btn btn-defaultLayout"asp-action="Index">戻る</a>
                </div>
            </form>

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
