@{
    ViewData["Title"] = "MyBlindTouch-settings";
}

<div class="banner">
         <a asp-controller="QuizModel" asp-action="Index"class="btn btn-defaultLayout">問題の編集</a>
         <a asp-controller="Settings" asp-action="Other"class="btn btn-defaultLayout">その他設定</a>
         <a asp-controller="Home" asp-action="Index"class="btn btn-defaultLayout">戻る</a>
</div>
